################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Plex.Extensions.DbContext/bin
/Plex.Extensions.DbContext/obj
/Plex.Autofac.Helper/bin
/Plex.Autofac.Helper/obj