################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Plex.DbContext.Helper/bin
/Plex.DbContext.Helper/obj
/Plex.Autofac.Helper/bin
Plex.Autofac.Helper/obj